form .form-group{
    margin-right: 25px;
}
.form-group .searchBtn{
    color: #fff;
    background-color: #4fb7c7;
    border-color: #4fb7c7;
    padding: 7px 27px;
}
.form-group .searchBtn:hover{
    opacity: 0.8;
}
form .download{
    float: right;
    margin: 0px;
}